
p {
  font-size: 15px;
}

h4 {
  font-weight: bold;
}

.g-pic img {
  width: 500px;
  // margin: 15px;
  text-align: right;
  border-radius: 4px;                         /* Small radius */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
}

#butt {
  border-radius: 50%;
  margin-top: 35px;
  .btn-danger {
    width: 103px;
    height: 53px;
  }
}

.btn-container {
  text-align: right;
  padding-right: 60px;
  margin-bottom: 60px;
}

.place-photo-wrapper {
  color: white;
  text-align: center;
  height: 400px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guitar-details {
  display: flex;
  align-items: center;
  padding: 20px 60px 0px;
}

.guitar-text {
  flex-grow: 1;
  padding-right: 30px;
}

.price-show {
  padding-top: 20px;
  color: grey;
  margin-bottom: 50px;
}

#booking_ends_at, #booking_starts_at {
  height: 40px;
  border-radius: 4px;
}

input #booking_starts_at {
  color: lightgrey;
}

.wrapper-guitars {
  max-width: 1000px;
  margin: 60px auto; /* MAGIC!!!!!*/
  margin-bottom: 0;
  background-color: white;
  padding: 15px;
  border-radius: 4px;
}

.wrapper-create-booking {
  // display: flex;
  // text-align: center;
  max-width: 1000px;
  margin: 30px auto; /* MAGIC!!!!!*/
  background-color: white;
  padding: 5px;
}

.btn-container {
  text-align: center;
}
