

.g-pic img {
  width: 200px;
  margin: 0px auto;
  margin-left: 493px;
  margin-top: 15px;
}

#butt {
  border-radius: 50%;
  margin-top: 35px;
  .btn-danger {
    width: 103px;
    height: 53px;
  }
}






